Assignment_6/TravelBooking/TravelBooking/Web References/TripService/TripQuoteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTripQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="destination" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="days" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="basePerDay" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTripQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTripQuoteResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTripQuoteSoapIn">
    <wsdl:part name="parameters" element="tns:GetTripQuote" />
  </wsdl:message>
  <wsdl:message name="GetTripQuoteSoapOut">
    <wsdl:part name="parameters" element="tns:GetTripQuoteResponse" />
  </wsdl:message>
  <wsdl:portType name="TripQuoteServiceSoap">
    <wsdl:operation name="GetTripQuote">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Calculates an estimated trip cost based on destination, days, and base per-day price.</wsdl:documentation>
      <wsdl:input message="tns:GetTripQuoteSoapIn" />
      <wsdl:output message="tns:GetTripQuoteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TripQuoteServiceSoap" type="tns:TripQuoteServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTripQuote">
      <soap:operation soapAction="http://tempuri.org/GetTripQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TripQuoteServiceSoap12" type="tns:TripQuoteServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTripQuote">
      <soap12:operation soapAction="http://tempuri.org/GetTripQuote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TripQuoteService">
    <wsdl:port name="TripQuoteServiceSoap" binding="tns:TripQuoteServiceSoap">
      <soap:address location="http://webstrar31.fulton.asu.edu/page0/TripQuoteService.asmx" />
    </wsdl:port>
    <wsdl:port name="TripQuoteServiceSoap12" binding="tns:TripQuoteServiceSoap12">
      <soap12:address location="http://webstrar31.fulton.asu.edu/page0/TripQuoteService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>